<table>
    <tr>
        <th>Id</th>
        <th>Points</th>
        <th>Skill</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.points %></td>
            <td><%= user.skill.name %></td>
        </tr>
    <% end %>
</table>

<hr/>

<div>
    <%= link_to 'New User', new_user_path %>
</div>
<div>
    <%= link_to 'Back to Summary', root_path %>
</div>