<h1>New User</h1>

<%= form_with scope: :user, url: users_path, local: true do |form| %>
  <p>
    <%= form.label :points %><br>
    <%= form.number_field :points, min: 0 %>
  </p>
  <p>
    <%= form.label :skill %><br>
    <%= form.select :skill_id, options_for_select(skills_as_options(Skill.all)) %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>