<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Parent</th>
        <th>Children</th>
        <th>Users</th>
    </tr>
    <% @skills.each do |skill| %>
        <tr>
            <td><%= skill.id %></td>
            <td><%= skill.name %></td>
            <td><%= skill.parent&.name %></td>
            <td><%= skill.children.map(&:name).join(', ') %></td>
            <td><%= skill.all_users.map(&:id).join(', ') %></td>
        </tr>
    <% end %>
</table>

<hr/>

<div>
    <%= link_to 'New Skill', new_skill_path %>
</div>
<div>
    <%= link_to 'Back to Summary', root_path %>
</div>