<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Parent</th>
        <th>Children</th>
        <th>Descendants</th>
        <th>Users</th>
    </tr>
    <% @skills.each do |skill| %>
        <tr>
            <td><%= skill.id %></td>
            <td><%= skill.name %></td>
            <td><%= skill.parent&.name %></td>
            <td><%= skill.children.map(&:name).join(', ') %></td>
            <td><%= skill.descendants.map(&:name).join(', ') %></td>
            <td><%= skill.users.map(&:id).join(', ') %></td>
        </tr>
    <% end %>
</table>