<h1>New Skill</h1>

<%= form_with scope: :skill, url: skills_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :parent %><br>
    <%= form.select :parent_id, options_for_select([[nil, nil]] + selectable_skills) %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>