<h1>New Skill</h1>

<%= form_with scope: :skill, url: skills_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :parent %><br>
    <!--
    Only allow selecting top level skills (the ones which have no parent), to prevent
    creating a tree of skills with multiple levels of depth.
    -->
    <%= form.select :parent_id, options_for_select(
      [['-- No Parent --', nil]] + skills_as_options(Skill.top_level)) %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>